<div class="tile is-6 container has-text-centered box">
  <section class="section">
    <div class="container is-fluid">
      <h1 class="subtitle">Here you can find all my previous posts:</h1>
      $partial("templates/post-list.html")$
    </div>
  </section>
<div>
