<div class="tile is-parent is-vertical">
  <div class="container box">
    <div class="tile is-child has-text-justified">
      <h2 class="title has-text-centered">About Me</h2>
      <section class="section">
        <p class="subtitle">I'm a developer and undergraduate in Computer Science from São Luís, MA - Brazil. I'm currently self-teaching the subjects of Logic and Topology. You may also find some of my projects and tutorials here, and probably some random rambling about byzantine history.
        </p>

      </section>
    </div>

    <br>

    <div class="tile is-parent">
      <div class="tile is-child">
        <h4 class="title is-4"><i class="fas fa-star"></i> Interests:</h4>
        <div class="content">
          <ul>
            <li>Backend Development</li>
            <li>Distributed Systems</li>
            <li>Functional Programming</li>
            <li>GNU/Linux & FOSS</li>
            <li>Logic</li>
            <li>Philosophy</li>
          </ul>
        </div>
      </div>

      <div class="tile is-child">
        <h4 class="title is-4"><i class="fas fa-graduation-cap"></i> Education:</h4>
        <div class="content">
          <ul>
            <li>
              <p class="subtitle">
                Computer Science -
                <i class="fas fa-university"></i> UFMA
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>

    <div class="tile is-parent">
      <div class="tile is-child is-8">
        <p class="subtitle is-size-6"><i class="fas fa-newspaper"></i> Recent Posts:</p>
          $partial("templates/post-list.html")$
        <br>
        <p class="subtitle is-5">…or you can find more in the <a href="/archive.html">archives</a>.</p>
      </div>

      <div class="tile is-child has-text-centered">
        <figure class="image container is-128x128">
            <img src="/images/nixos-logo.gif" style="max-width: 128px;" />
        </figure>
        <p class="subtitle">Btw I use&nbsp;<a href="https://nixos.org/nix/">Nix</a>.</p>
      </div>
    </div>

  </div>
</div>
