<nav class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <p class="title is-5">Stranger in a Strange λ</p>
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/index.html">
          <span class="icon is-large">
            <i class="fas fa-lg fa-home" ></i>
          </span>
          <span>Home</span>
        </a>

        <a class="navbar-item" href="#">
          <span class="icon is-large">
            <i class="far fa-lg fa-bookmark" ></i>
          </span>
          <span>Notes</span>
        </a>

        <a class="navbar-item" href="/archive.html">
          <span class="icon is-large">
            <i class="fas fs-lg fa-book" ></i>
          </span>
          <span>Posts</span>
	    </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Language </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="index.html">
              English
            </a>

            <a class="navbar-item" href="#">
              Português
            </a>

            <a class="navbar-item" href="#">
              Lingua Latina
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
