<div class="container content has-text-justified">
    <ul>
        $for(posts)$
            <li>
                <a href="$url$">$title$</a> - $date$.
            </li>
        $endfor$
    </ul>
</div>
