<div class="tile is-ancestor is-vertical">
  <div class="tile is-child">
    <article class="media">
      <div class="media-content has-text-centered">
        <h3 class="title">$title$</h3>
        <p class="subtitle">
          Posted on $date$
          $if(author)$
            by $author$.
          $endif$
          $if(keywords)$
            <meta name="keywords" content="$keywords$">
          $endif$
        </p>
      </div>
    </article>
  </div>

  <div class="tile is-child">
    <section class="section container has-text-justified">
      <div class="box">
        $body$
      </div>
    </section>
  </div>
<div>

