<div class="tile is-child is-4 is-vertical is-parent">
  <div class="container box">
    <div class="tile is-child">
      <figure class="image is-square">
        <img class="is-rounded" src="/images/profile.png">
      </figure>
      <br>
    </div>
    <div class="tile is-child is-parent box">
      <div class="tile is-child has-text-centered">
        <h6 class="title">Marcos Vinicius Benevides</h6>
        <p class="subtile is-4">marcos.schonfinkel@gmail.com</p>
        <br>
        <br>
      </div>
      <div class="tile is-child">
        <div class="columns is-multiline is-mobile">
          <div class="column is-one-third has-text-centered">
            <a href="https://github.com/mtrsk">
              <span class="icon is-large align-center">
                <i class="fab fa-3x fa-github"></i>
              </span>
            </a>
          </div>

          <div class="column is-one-third has-text-centered">
            <a href="https://gitlab.com/mtrsk">
              <span class="icon is-large align-center">
                <i class="fab fa-3x fa-gitlab"></i>
              </span>
            </a>
          </div>

          <div class="column is-one-third has-text-centered">
            <a href="https://www.linkedin.com/in/marcos-schonfinkel">
              <span class="icon is-large align-center">
                <i class="fab fa-3x fa-linkedin"></i>
              </span>
            </a>
          </div>

          <div class="column has-text-centered">
            <a href="https://stackexchange.com/users/5858235/aristu"><img src="https://stackexchange.com/users/flair/5858235.png" width="208" height="58" alt="profile for Aristu on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Aristu on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
